

.game-board{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    border: 3px solid black;
}

.word-row{
    display: flex;
}

.word-row h3{
    /* margin: 5px; */
    padding: 5px;
    width: 2em;
}

.key-board button{
    margin: 5px;
    width: 50px;
}

h3{
    border: 1px solid gray;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: lightgreen;
}

.gray{
    background-color: lightgray;
}